#heading {
  background-color: blue;
  text-align: center;
  color:'#fff'
}

body {
  background-color: tomato;
}

.paragraphs{
  background-color: antiquewhite;
  text-align: center;
  padding: 20;
  margin-top: 20;
}

.first{
  color: purple;
  font-size: 2em;
}
.second {
  color: green;
  font-size: 1em;
}